:root {
  --color0: #ffffff;
  --color1: #c2f0c2;
  --color2: #70e070;
  --color3: #00cc00;
  --color4: #009900;
  --color5: #006400;

  --solid-border: 2px solid black;
  --dashed-border: 2px dashed black;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  width: 100px;
}


.time {
  font-weight: bold;
}


.sharp td {
  border-bottom: var(--solid-border);
}

.half td {
  border-bottom: var(--dashed-border);
}


.available-0 { background-color: var(--color0); }
.available-1 { background-color: var(--color1); }
.available-2 { background-color: var(--color2); }
.available-3 { background-color: var(--color3); }
.available-4 { background-color: var(--color4); }
.available-5 { background-color: var(--color5); }


#legend {
  margin-top: 30px;
  text-align: center;
  width: 250px;
}

#legend-gradient {
  height: 20px;
  width: 100%;
  border: 1px solid black;
  background-image: linear-gradient(90deg,
    to right,
    var(--color0) 0% 10%,
    var(--color1) 10% 20%,
    var(--color2) 30% 40%,
    var(--color3) 40% 60%,
    var(--color4) 60% 80%,
    var(--color5) 80% 100%
  );
  
}


