tr[class="read"]{
  background:linear-gradient(90deg, #ff9a9e 0%, #fad0c4 100%);
}

tr[class="to-read"]{
    background:linear-gradient(90deg, #ff9a9e 0%, #fad0c4 100%);

}

tr[class="in-progress"]{
  background:linear-gradient(90deg, #ff9a9e 0%, #fad0c4 100%);
}

span{
  display:inline-block;
}

tr[class="to-read"] span[class="status"] {
  border:2px solid black;
  background: linear-gradient(120deg, #ff7e5f, #feb47b, #86a8e7);
}

tr[class="read"] span[class="status"] {
  border:2px solid black;
  background: linear-gradient(120deg, #ff7e5f, #feb47b, #86a8e7);
}

tr[class="in-progress"] span[class="status"] {
  border:2px solid black;
  background: linear-gradient(120deg, #ff7e5f, #feb47b, #86a8e7);
}

span[class="status"],
span[class^="rate"] {
  height: 30px; 
  display: inline-block;
  width:80px;
  padding:5px 10px;
}

span[class^="rate"] > span {
  border:2px solid black;
  border-radius:8px;
  margin:4px;
  width:80px;
  height:2px;
  background-color:#4caf50;
}

span[class~="one"] span:first-child {
  background-image: linear-gradient(120deg, #ff7e5f, #feb47b, #86a8e7);
}

span[class~="two"] span:nth-child(-n+2) {
  background-image: linear-gradient(120deg, #ff7e5f, #feb47b, #86a8e7);}

span[class~="three"] span {
  background-image: linear-gradient(120deg, #ff7e5f, #feb47b, #86a8e7);
}
